body{
    background-color: antiquewhite;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-align: left;
    margin-left: 50px;
    width: 680px;
    display: block;
}
span{
    color: skyblue;
}
#logo{
    width: 200px;
}
.image { 
    width: 300px;
    float: left;
    margin-left: 50px;
    margin-right: 30px;
    
}
footer>p{
    clear: left;
    color: skyblue;
    text-align: right;
    margin-right: 100px;
    font-size:  20px;
}
.desc { 
    font-size: 25px;
    font-weight: bold;
   width: 400px;
  
}
.title{
    font-size: 30px;
    font-weight: bold ;
}
.words{
    display: inline-block;
}
.left{
    display: inline-block;
    margin-right: 50px;
}
.right{ 
    display: inline-block;
}
@media (max-width: 680px) {
    body{
        width: 100%;
    }
    h1{
        display: block;
        width: 100%;
        text-align: center;
    }
    .image{
        display: block;
        width: 537px;
        height: 200px;
        margin-right: 50px;
        
    }
    
    #logo { 
        width: 100px;
    }

   .words { 
    display: inline-block;
    margin-left: 50px;
   }
   .desc{ 
    width: 500px;
   }
   footer>p{
    text-align: right;
   }
}